.jobDetailsMain {
  /* height: 100vh; */
  background-color: #000000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.jobCard {
  margin-top: 30px;
  border-radius: 20px;
  color: #ecf2f1;
  width: 90vw;
  max-width: 1000px;
  padding: 30px;
  padding-top: 40px;

  background-color: #272727;
  margin-bottom: 50px;
}
.companyLogoContainer {
  display: flex;
}
.companyLogo {
  width: 55px;
  height: 55px;
}
.titleContainer {
  margin-left: 20px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.jobTitle {
  font-weight: 600;
  font-size: 16px;
}
.ratingContainer {
  display: flex;
  align-items: center;
}
.ratingIcon {
  color: #fbbf24;
  margin-right: 10px;
}
.jobIconsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 15px;
  border-bottom: 2px solid #5a677a;
}
.jobLocationContainer {
  display: flex;
  align-items: center;
}
.jobsItemIcon {
  margin-right: 10px;
  font-size: 18px;
}
.jobsItemIconPara {
  margin-right: 15px;
  font-size: 12px;

  text-decoration: none;
}
.descriptionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jobDetailsDescriptionHeading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 26px;
  margin-top: 25px;
  font-weight: bold;
}
.websiteUrl {
  color: #6366f1;
  text-decoration: none;
}
.jobItemDescription {
  font-size: 14px;
  line-height: 2;
  color: #cbd5e1;
  text-decoration: none !important;
}
.skillsContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
}
.skillListItem {
  width: 33%;
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 15px;
}
.skillsIconContainer {
  width: 60px;
}
.skillsIcon {
  width: 45px;
}
.lifeAtCompany {
  margin-top: 25px;
  font-size: 20px;
  font-weight: 600;
}
.lifeAtCompanyContainer {
  display: flex;
  margin-top: 20px;
}
.LACPara {
  width: 65%;
  padding: 10px;
  padding-left: 0;
  line-height: 2;
}
.LACImage {
  padding-left: 20px;
}
.similarJobsData {
  max-width: 1000px;
  width: 90vw;
}
@media (max-width: 767px) {
  .skillListItem {
    width: 50%;
    font-size: 12px;
  }
  .lifeAtCompanyContainer {
    flex-direction: column;
  }
  .LACPara {
    width: 100%;
  }
  .LACImage {
    width: 100%;
    padding: 0;
  }
}
